html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background-image: url("../media/Rastergrafi.png");
  background-size: 100%;
}

h1 {
    color: black
}

.container {
  margin: auto;
  position: center;
}

tr {
  background-color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#btn {
    float: left;
    margin-bottom: 25px;
    margin-left: 2px;
}

#navbar {
    position: absolute;
    top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#title21 {
  color: white;
}

table [id=maintable] {
  background-color: rgba(255, 255, 255, 0.7);
}
